/********************
YOUR STYLES
*******************/
body
{
    background-image: url('../img/wool.png');
}

/* Header */
header
{
    display: flex;
    justify-content: space-around;
}

.home
{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

header h1
{
    flex-grow: 1;
    padding-right: 20px;
}

/* Gallery Styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    width: 20em;
}

.lg-image
{
    box-shadow: 0 0 50px gray;
}

footer
{
    padding-left: 10px;
}

/**************/
/* TYPOGRAPHY */
/**************/
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,300italic);

/* Add font: Josefin */
p, li, figcaption
{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

h1, a, h2, h3, h4, button, ul, strong
{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

/*******/

h1
{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

h2
{
    font-size: 2em;
    margin: 0;
    margin-bottom: 15px;
}

h3
{
    font-size: 20px;
}

strong
{
    font-size: 1.5em;
    color: #809f21;
}

.ppy-outer strong
{
    margin-bottom: 5px;
}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
/*
@media screen and (min-width: 20em) 
{ 

     Diagnostic Styling. 
    body
    {
       background: red;
    }
}
*/

/* Tablet:  768px = 160em */
/*
@media screen and (min-width: 48em)  {

   Diagnostic Styling. 
  body {
       background: green;
  }

}
*/

/* Desktop: 1280px = 80em */
/*
@media screen and (min-width: 80em) { 
  
   Diagnostic Styling. 
  body {
       background: blue;
  }

}*/
